---
import MainLayout from "../layouts/mainLayout.astro";
import Divider from "../components/divider.astro";
import Card from "../components/card.astro";
import Heading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";
import AppImage from "../components/appImage.astro";

import cv from "../data/cv.json";
---

<MainLayout>

  <PageSection class="space-y-4">

    <Heading level="h1" size="xl"> CV </Heading>
    <Divider />

    <!-- Profile Card -->
    <Card class="overflow-hidden" style="padding:0px!important;">
      <div class="flex flex-col md:flex-row items-center">
        <!-- Image Section -->
        <div class="w-full md:w-auto bg-[var(--color-secondary)]/15 px-8 py-8 flex justify-center items-center">
          <AppImage
            src={cv.profile.image}
            alt={cv.profile.name}
            class="w-35 h-35 rounded-full object-cover shadow-md"
          />
        </div>

        <!-- Content Section -->
        <div class="flex-1 px-8 py-8 text-center md:text-left">
          <Heading level="h2" size="lg" class="uppercase tracking-wide">
            {cv.profile.name}
          </Heading>
          <p class="mt-3 font-semibold">
            {cv.profile.title}
          </p>
          <p class="mt-1 text-gray-600">
            {cv.profile.org}
          </p>
          <!-- Divider -->
          <div class="mt-6 border-t border-[var(--color-secondary)]"></div>
        </div>
      </div>
    </Card>

    <!-- Education -->
    <Card>
      <Heading level="h3" size="md" class="uppercase"> Education </Heading>
      <ul class="space-y-2">
        {cv.education.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    </Card>

    <!-- Experience -->
    <Card>
      <Heading level="h3" size="md" class="uppercase"> Research and Professional Experience </Heading>
      <ul class="space-y-2">
        {cv.experience.map((exp) => (
          <li>
            <strong>{exp.period}:</strong> {exp.text}
          </li>
        ))}
      </ul>
    </Card>

  </section>
</PageSection>