---
import MainLayout from "../layouts/mainLayout.astro";
import Divider from "../components/divider.astro";
import Card from "../components/card.astro";
import Heading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";

import cv from "../data/cv.json";

---

<MainLayout>

  <PageSection class="space-y-4">

    <Heading level="h1" size="xl"> CV </Heading>

    <!-- Profile Card -->
    <Card>
      <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-8">

        <!-- Name -->
        <div>
          <Heading level="h2" size="lg" class="tracking-widest uppercase"> {cv.profile.name} </Heading>
          <p class="mt-3 text-md">
            {cv.profile.title}
          </p>

          <p class="mt-1 text-md">
            {cv.profile.org}
          </p>
        </div>

        <!-- Image -->
        <div class="flex justify-center md:justify-end">
          <img
            src={cv.profile.image}
            alt={cv.profile.name}
            class="w-32 h-32 md:w-40 md:h-40 rounded-full object-cover shadow-md"
          />
        </div>

      </div>
    </Card>

    <!-- Education -->
    <Card>
      <Heading level="h3" size="md" class="tracking-widest uppercase"> Education </Heading>

      <Divider />

      <ul class="mt-4 space-y-4">
        {cv.education.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    </Card>

    <!-- Experience -->
    <Card>

      <Heading level="h3" size="md" class="tracking-widest uppercase"> Research and Professional Experience </Heading>

      <Divider />

      <ul class="mt-4 space-y-4">
        {cv.experience.map((exp) => (
          <li>
            <strong>{exp.period}:</strong> {exp.text}
          </li>
        ))}
      </ul>
    </Card>

  </section>

</PageSection>