---
const {
  variant = "primary", // primary | secondary | ghost
  type = "button",
  class: className = "",
  ...rest
} = Astro.props;

const base = `
  cursor-pointer
  transition-all duration-200 ease-in-out
`;

const variants: any = {
  primary:
    "px-3 py-2 bg-[var(--color-secondary)] text-white hover:bg-[var(--color-accent)] shadow-md",

  secondary:
    "px-3 py-2 border border-[var(--color-secondary)]  hover:bg-[var(--color-accent)] hover:text-white hover:border-[var(--color-accent)] transition-colors duration-200",

  ghost:
    "px-3 py-2 text-neutral-700 hover:bg-neutral-100",

  hamburger:
    "flex flex-col gap-1 p-2"
};

const styles = `${base} ${variants[variant]} ${className}`;
---

<button type={type} class={styles} {...rest}>
  {
    variant === "hamburger" ? (
      <>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </>
    ) : (
      <slot />
    )
  }
</button>