---
const {
  variant = "primary", // primary | secondary | ghost
  type = "button",
  class: className = "",
  ...rest
} = Astro.props;

const base = `
  inline-block cursor-pointer
  px-3 py-2 rounded-md
  transition-all duration-200 ease-in-out
`;

const variants = {
  primary: "bg-[var(--color-primary)] text-[#F5F5F5] hover:bg-[#7aa535] shadow-md",
  secondary: "bg-neutral-200 text-neutral-800 hover:bg-neutral-300",
  ghost: "text-neutral-700 hover:bg-neutral-100"
};

const styles = `${base} ${variants[variant]} ${className}`;
---

<button type={type} class={styles} {...rest}>
  <slot />
</button>