---
import Link from "./link.astro";
import Button from "./button.astro";

const { publication } = Astro.props;

const { title, authors, journal, year, doi, pdf } = publication;
---

<div
  class="border border-neutral-200 rounded-xl p-5 bg-white shadow-sm hover:shadow-md transition"
>
  <!-- Top Meta -->
  <p class="text-sm text-muted mb-2">
    {year} · {journal}
  </p>

  <!-- Title -->
  <h3 class="text-lg font-semibold text-strong mb-2">
    {title}
  </h3>

  <!-- Authors -->
  <p class="text-sm italic text-strong mb-3">
    {authors.join(", ")}
  </p>

  <!-- Doi (Only if exists) -->
  {
    doi && (
      <a
        href={doi}
        target="_blank"
        class="text-sm text-strong underline mb-3 block"
      >
        {doi.replace("https://", "")}
      </a>
    )
  }

  <!-- Actions -->
  <div class="flex gap-3 mt-3 flex-wrap">
    <Button
      class="copy-btn"
      data-citation={`${authors.join(", ")}. ${title}. ${journal} (${year})${doi ? ` ${doi}` : ""}`}
    >
      Copy Citation
    </Button>

    {
      pdf && (
        <Link
          href={pdf}
          external
          newTab
          class="px-3 py-3 text-sm bg-neutral-200 text-strong rounded-md no-underline"
        >
          View PDF
        </Link>
      )
    }
  </div>
</div>